@import "variables";

// Mixins
// For portrait phone and landscape phone
@mixin phone() {
  @media screen and (max-width: $phone-max-width) {
    @content;
  }
}

// For portrait phone
@mixin phone-portrait() {
  @media screen and (min-width: $phone-min-width) and (max-width: $phone-max-width) and (orientation: portrait) {
    @content;
  }
}
// For landscape phone
@mixin phone-landscape() {
  @media screen and (min-height: $phone-min-height) and (max-height: $phone-max-height) and (orientation: landscape) {
    @content;
  }
}
// For portrait tablet and landscape tablet
@mixin tablet() {
  @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width),
    /* iPad PRO */ (min-width: $tablet-min-width) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait),
    /* iPad Air */ (min-width: $tablet-min-width) and (max-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}
@mixin tabletDown() {
  @media screen and (max-width: $tablet-max-width),
    /* iPad PRO */ (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait),
    /* iPad Air */ (max-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}
// For portrait tablet
@mixin tablet-portrait() {
  @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) and (orientation: portrait) {
    @content;
  }
}
// For landscape tablet
@mixin tablet-landscape() {
  @media screen and (min-height: $tablet-min-height) and (max-height: $tablet-max-height) and (orientation: landscape) {
    @content;
  }
}
// For desktop
@mixin desktop() {
  @media screen and (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}
@mixin desktopDown() {
  @media screen and (max-width: $desktop-max-width) {
    @content;
  }
}
// Large
@mixin largeDown() {
  @media screen and (max-width: $large-max-width) {
    @content;
  }
}
@mixin large() {
  @media screen and (min-width: $large-min-width) and (max-width: $large-max-width) {
    @content;
  }
}

@mixin prevent-tab-highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
