@import "../../styles/utils";
@import "../../styles/variables";

.container {
  margin: 0;
  width: 80%;
  z-index: 1000;
  display: block;
}

.playerConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 600px;
}

.player {
  min-width: 80%;
}

.list {
  max-height: 30vh;
  overflow-y: auto;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.modalContainer {
  position: relative;
}
