@import "../../styles/utils";
@import "../../styles/variables";

.container {
  touch-action: manipulation;
  min-width: 30vw;
  max-width: 60vw;

  .video,
  video {
    width: 100%;
    height: auto;
    background-color: #000000;
    display: block;
    box-sizing: border-box;
    position: relative;
    font-size: 10px;
    line-height: 1;
  }

  .controls {
    display: inline-flex;
  }
}
